.ui.segment.piled(style='margin-bottom:0.6cm;')
  .content
    :markdown-it
      ### Abstract
      This presentation will be an opportunity to review the most famous vulnerabilities encountered during pentest and audit. From industrials systems to the customer product, many security concepts are similar but often poorly implemented. From a standalone industrial system on which an IP address has been added, to the TV / connected toy that spies unbeknownst a household, any security issue quickly takes a new size as soon as the object is available on the market and connectd to the cloud. The purpose of this whitepaper is to provide to designers, developers and integrators of IoT solutions an overview of needed security reflex to include best practices from the design step.

.ui.icon.message.yellow(style='margin-bottom:0.6cm;')
  i.briefcase.icon
  .content
    .header About the author (Arnaud COURTY)
    :markdown-it
     Researcher in IT Security at Onepoint, his main mission is to evangelise companies to take care about security from the design step.
     
     He works on internal and external offensive security analysis and assessment of security maturity of embedded systems upstream their industrialization.
     
     Since the beginning of IoT, Arnaud specializes himself in vulnerabilities research adapted to the embedded systems but also awareness of designers, developers and integrators. He takes advantage of security events and working groups to campaign for a less vulnerable IoT world.
