:markdown-it
  # Attack surface

  Over the entire data blockchain, an attacker will focus his actions on the weakness link.
  
  In the following schema, an attacker could compriomized the smartwatch and listen transaction between bracelet and middleware. On the smartphone, he could extract sensitive information and inject malicious content to the bracelet. On the cloud connection, an attacker could listen traffic and attack all exposed interface.
  
  ![./img/schemaDangerIoT.png](./img/schemaDangerIoT.png) 
  
  In summary, a connected object exposes a huge suface from which each centimeters could become a attack vector. The following mindmap shows some of them.
  
  ![./img/attackSurface.png](./img/attackSurface.png)
