:markdown-it
  # IoT security : a paradigm shift
  
  Iot security is fully conforms to safety standard:
  * __Privacy__ : the goal is to be sure that only authorized people / programs could access to information
  * __Integrity__: the goal is to be sure that information can't be modified and all alteration could be detected.
  * __Avalaibility__: the goal is to be sure that a system is available and usable by authorized user
  * __Traceability__: the goal is to be sure that all actions are logged and irreproachable.
  
  
  Added to theses standards, authentication has a goal to prove the user / programm identity.
  
  Moreover, new issue takes place on the agenda. The embedded systems can be manipulated by the user, bought in several copies and be totally disassembled with a study time almost infinite.
  An attacker could be able to deep analyze the object with costly resource like laser chip cutting and side channels attacks.
