:markdown-it
  ## MQTT (Message Queue Telemetry Transport)
  This light protocol is designed to send data from sensor to whatever application. Data transfert is done with topic subscribing.  
  
  ## DDS (Data Distribution Service)
  This protocol is designed for machine to machine communications.
  
  ## AMQP (Advanced Message Queuing Protocol)
  This protocol is designed to intermediate environments. There is a sending and reception queue for messages exchange.
  
  ## Bluetooth
  * Standard: Bluetooth 4.2
  * Frequency: 2.4GHz
  * Range: 50-150m (Smart/BLE)
  * Rate: 1Mbps (Smart/BLE)
  
  #
    
  ## Zigbee
  * Standard: ZigBee 3.0 based on IEEE802.15.4
  * Frequency: 2.4GHz
  * Range: 10-100m
  * Rate: 250kbps
  
  ## Wifi
  * Standard: Based on IEEE 802.11
  * Frquency: 2.4GHz and 5GHz bands
  * Range: Approximately 50m
  * Rate: 150-200Mbps, 600 Mbps maximum
  
  ## Cellulaire
  * Standard: GSM/GPRS/EDGE (2G), UMTS/HSPA (3G), LTE (4G)
  * Frequency: 900/1800/1900/2100MHz
  * Range: 35km (GSM); 200km (HSPA)
  * Rate: 35-170kps (GPRS), 120-384kbps (EDGE), 384Kbps-2Mbps (UMTS), 600kbps-10Mbps (HSPA), 3-10Mbps (LTE)
  
  ## LoraWAN (Long Range Wide Area Network)
  * Standard: LoRaWAN
  * Frequence: Various
  * Range: 2-5km (urban area), 15km (suburban area)
  * Rate: 0.3-50 kbps
  
  ## Sigfox
  * Standard: Sigfox
  * Frequency: 900MHz
  * Range: 30-50km (rural environments), 3-10km (urban environments)
  * Rate: 10-1000bps 
  
  ## NFC (Near Field Communication)
  * Standard: ISO/IEC 18000-3
  * Frequency: 13.56MHz (ISM)
  * Range: 10cm
  * Rate: 100–420kbps
